.team-member{
    &__image-container{
        
    }
    &__image{
        //width: 70%;
        border-radius: 1px;
    }
    &__content-container{
        background-color: $black;
        margin-left: 40%;
        margin-top: -15%;
        padding: 40px 40px 50px 40px;
        border-radius: 1px;
        @media screen and (max-width: 991px){
            margin-left: 30%;
            padding: 30px 30px 40px 30px;
        }
        @media screen and (max-width: 767px){
            margin: 0 15px 15px;
        }
    }
    &__title{
        font-style: italic;
        font-weight: 400;
        padding-top: 0px;
    }
}


.work-process{
    &__image-container{
        height: 300px;
    }
    &__image{
        position: absolute;  
        top: 0;  
        bottom: 0;  
        left: 0;  
        right: 0;  
        margin: auto;
    }
    &__image1{   
        height: 170px;
    }
}