//PRIMARY COLORS
$white: rgb(255,250,245); //#FFF5F5
$black: rgb(27,36,22);
$primary-color: rgb(255, 71, 71);
/* 
rgb(152,205,196);

#05AFF2; 
#00C3FF;
#27B9F2; //favoritt
#00ACFF;


rgb(163,191,118);

#99E8A1;
#52E889;
#56BF7B;
#5CBF9E; 

#F28749;
#F27405;
#F27141;
#FF4D00;
#FF5200;

#FF553B;
rgb(255, 71, 71);
*/



$transparent-white: rgba(255,250,245,.4);
$transparent-black: rgba(27,36,22,.3);


//BORDERS


//SECONDARY COLORS
//Color group nr 1
$lavendel: rgb(139,105,159); 
$fjord: rgb(152,205,196);
$pear: rgb(163,191,118);
$yellow: rgb(237,228,92);
$anemone: rgb(217,78,112);