//PRIMARY COLORS
$white: rgb(255,250,245); //#FFF5F5
$black: rgb(27,36,22);

//BORDERS


//SECONDARY COLORS
//Color group nr 1
$lavendel: rgb(139,105,159);
$fjord: rgb(152,205,196);
$pear: rgb(163,191,118);
$yellow: rgb(237,228,92);
$anemone: rgb(217,78,112);