
::selection {
    background: #00C3FF;
}

.text{
    &--image{
        font-size: 9em;
        color: $primary-color;
    }
    &--white{
        color: $white;
    }
    &--large{
        font-size: 3em;
    }
    &--transparent-black{
        color: $transparent-black;
    }
    &--transparent-white{
        color: $transparent-white;
    }
}

