
::selection {
    background: rgba(255, 71, 71,.65);
}

.text{
    padding: 0 10%;
    &--image{
        font-size: 9em;
        color: $black;
    }
    &--white{
        color: $white;
    }
    &--underline{
        text-decoration: underline $transparent-white;
    }
    &--border-red{
        text-decoration: underline $primary-color;
    }
    &--center{
        text-align: center;
    }
    &--medium{
        font-size: 2em;
    }
    &--large{
        font-size: 3em;
    }
    &--transparent-black{
        color: $transparent-black;
    }
    &--transparent-white{
        color: $transparent-white;
    }
    &--icon{
        font-size: 2em;
        padding-right: 10px;
    }
}

.remove-margin-padding{
    margin: 0;
    padding: 0;
}

#myBtn {
    position: fixed; 
    bottom: 50px; 
    right: -3px; 
    z-index: 11; 
    border: none; 
    outline: none; 
    color: $primary-color; 
    cursor: pointer; 
    font-size: 3em; 
    background: transparent;
    font-family: $text;
    transition: transform 1s ease-in-out;
    @media screen and (max-width: 576px){
        display: none;
    }
    @media screen and (max-width: 820px) and (orientation: landscape){
        display: none;
    }
}

#myBtn:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

.hide{
    &--md{
        @media screen and (max-width: 767px){
            display: none;
        }
    }
    &--lg{
        @media screen and (max-width: 991px){
            display: none;
        }
    }
}

.show{
    &--md{
        @media screen and (max-width: 767px){
            display: block;
        }
        
    }
    &--lg{
        @media screen and (max-width: 991px){
            display: block;
        }
    }
}