 @import url("https://use.typekit.net/rqi8nxz.css");

/* $heading-xl: nazare, sans-serif;
$text: interstate, sans-serif;
$heading-lg: skolar-sans-latin, sans-serif; */

$heading-xl: "roboto-mono", monospace;
$text: "roboto-mono", monospace;
$heading-lg: "roboto-mono", monospace;