@import url("https://use.typekit.net/jny8epr.css");

/* $heading-xl: nazare, sans-serif;
$text: interstate, sans-serif;
$heading-lg: skolar-sans-latin, sans-serif; */

$heading-xl: aglet-sans, sans-serif;
$text: acumin-pro, sans-serif; //100,200,300,400
$heading-lg: aglet-sans, sans-serif;//200, 300, 400