.navigation{
  background-image: linear-gradient($white, rgba(255,250,245,.7) , rgba(255,250,245,.0));
  &__logo{
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    font-family: $large-heading;
    text-transform: lowercase;
    font-size: 2.5em;
    //transition: all 0.3s linear;
  }
  &__logosm{
    position: absolute;
    left: 50%;
    top: -200px;
    transform: translateX(-50%);
    font-family: $large-heading;
    text-transform: lowercase;
    font-size: 2.5em;
    //transition: all 0.3s linear;
  }
}
