.project{
    padding-bottom: 10%;
    &__container{
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 500px;
        @media screen and (max-width: 768px){
            margin-bottom: 450px;
        }
        @media screen and (max-width: 576px){
            padding-bottom: 20%;
            margin-bottom: 450px;
        }
        @media screen and (max-width: 820px) and (orientation: landscape){
            margin-bottom: 450px;
        }
        @media screen and (max-width: 768px) and (orientation: landscape){
            padding-bottom: 10%;
            margin-bottom: 350px;
        }
    }
    &__row{
        justify-content: flex-end;
    }
    &__image{
        border-radius: 3px;
    }
    &__image-container{
        margin: 0;
        padding: 0;
        &--right{
            text-align: end;
        }
    }
    &__content-container{
        background-color: $black;
        margin-left: 50%;
        margin-top: -10%;
        padding: 40px;
        border-radius: 2px;
        @media screen and (max-width: 991px){
            margin-left: 30%;
            padding: 30px;
        }
        @media screen and (max-width: 767px){
            margin: 0 15px 15px;
        }
        &--right{
            background-color: $black;
            margin-right: 50%;
            margin-top: -10%;
            padding: 40px;
            border-radius: 2px;
            @media screen and (max-width: 991px){
                margin-left: 30%;
                padding: 30px;
            }
            @media screen and (max-width: 767px){
                margin: 0 15px 15px;
            }
        }
    }
    &__title{
        
    }
    &__biography{
        font-size: .9em;
    }
    &__creators{
        font-size: .85em;
        line-height: 2em;
    }
}

