@import url("https://use.typekit.net/jny8epr.css");
/* 
rgb(152,205,196);

#05AFF2; 
#00C3FF;
#27B9F2; //favoritt
#00ACFF;


rgb(163,191,118);

#99E8A1;
#52E889;
#56BF7B;
#5CBF9E; 

#F28749;
#F27405;
#F27141;
#FF4D00;
#FF5200;

#FF553B;
rgb(255, 71, 71);
*/
::selection {
  background: #ff4747;
}

.text--image {
  font-size: 9em;
  color: #1D1915;
}
.text--white {
  color: #fffaf5;
}
.text--underline {
  text-decoration: underline;
}
.text--center {
  text-align: center;
}
.text--medium {
  font-size: 2em;
}
.text--large {
  font-size: 3em;
}
.text--transparent-black {
  color: rgba(194, 241, 169, 0.3);
}
.text--transparent-white {
  color: rgba(255, 250, 245, 0.4);
}
.text--icon {
  font-size: 2em;
  padding-right: 10px;
  color: #fffaf5;
}

.remove-margin-padding {
  margin: 0;
  padding: 0;
}

/* span{
    box-shadow: inset 0 -3px 0px $white, inset 0 -9px 0 $primary-color;
} */
/* 
//SLIDE IN EFFECT ON CONTENT WHEN SCROLLED
.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered 
}

@keyframes come-in {
  to { transform: translateY(0); }
} */
.navigation {
  background-image: linear-gradient(#fffaf5, rgba(255, 250, 245, 0.7), rgba(255, 250, 245, 0));
}
.navigation__logo {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  font-family: nazare, sans-serif;
  text-transform: lowercase;
  font-size: 2.5em;
  color: #1D1915;
  width: 200px;
}
.navigation__up {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  padding-top: 7px;
  margin-left: -2px;
  transition: opacity 0.3;
  width: 200px;
}
.navigation__down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  padding-top: 7px;
  margin-left: -2px;
  transition: opacity 0.3;
  width: 200px;
}

.page-footer {
  width: 100%;
  height: 50%;
  background-color: #1D1915;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.page-footer__container {
  margin-top: 7%;
}
.page-footer__author {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.page-footer__author--text {
  font-size: 0.8em;
}
.page-footer__icon {
  display: block;
  margin-top: 40px;
}

.team-member__image {
  width: 70%;
}
.team-member__content-container {
  background-color: #1D1915;
  margin-left: 40%;
  margin-top: -20%;
  padding: 40px 40px 50px 40px;
}
.team-member__title {
  font-style: italic;
  font-weight: 400;
  padding-top: 0px;
}

/* .contact{
    &__map-container{
        margin-left: 20%;
        margin-top: -20%;

    }
} */
body {
  background-color: #fffaf5;
}

html {
  background-color: #fffaf5;
}

h1 {
  font-family: nazare, sans-serif;
  color: #1D1915;
  text-align: center;
  font-size: 7em;
  letter-spacing: 3px;
}
h1:hover {
  cursor: default;
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 4em;
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 3.5em;
  }
}
@media screen and (max-width: 350px) {
  h1 {
    font-size: 3em;
  }
}

h2 {
  font-family: freight-neo-pro, sans-serif;
  color: #1D1915;
  font-size: 2.8em;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 1em;
}
h2:hover {
  cursor: default;
}

h3 {
  color: #1D1915;
  font-family: freight-neo-pro, sans-serif;
  font-size: 2em;
  letter-spacing: 1px;
  font-weight: 700;
}

p {
  color: #1D1915;
  font-family: interstate, sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  padding-top: 15px;
  line-height: 1.6em;
}
p:hover {
  cursor: default;
}
@media screen and (max-width: 600px) {
  p {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 350px) {
  p {
    font-size: 1.2em;
  }
}

a {
  color: #ff4747;
}
a:hover {
  color: #ff4747;
  cursor: pointer;
  text-decoration: none;
}

.button {
  font-size: 0.8em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: interstate, sans-serif;
  font-weight: 700;
  border: 1.5px solid #ff4747;
  padding: 10px;
  color: #1D1915;
  display: block;
  width: 200px;
  margin: 30px 30px 30px 0;
  text-align: center;
}
.button:hover {
  background-color: #ff4747;
  text-decoration: none;
  color: #fffaf5;
}

.hero-banner__full {
  margin-top: 40vh;
  margin-bottom: 40vh;
}

.content-container {
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: #fffaf5;
}
.content-container--illustrations {
  margin-top: 15%;
  margin-bottom: 15%;
}
.content-container--top-pg {
  margin-top: 12%;
  margin-bottom: 5%;
}
.content-container--bottom-pg {
  margin-bottom: 50%;
  padding-bottom: 5%;
}

.image {
  max-height: 60vh;
  border: 5px solid white;
  filter: grayscale(1);
}
.image__container {
  position: relative;
}

/*# sourceMappingURL=styles.css.map */
