@import "fonts";
@import "colors";
@import "effects";
@import "header";
@import "toggle-menu";
@import "footer";
@import "about";
@import "contact";

body{
    background-color: $white;
    font-family: $text;
    letter-spacing: 1px;
    line-height: 1.6em;
}

html{
    background-color: $white;
    }

h1{
    font-family: $heading-xl;
    color: $black;
    text-align: center;
    font-size: 7em;
    letter-spacing: 3px;
    &:hover{
        cursor: default;
    }
    @media screen and (max-width: 500px){
        font-size: 4em;
    }
    @media screen and (max-width: 400px){
        font-size: 3.5em;
    }
    @media screen and (max-width: 350px){
        font-size: 3em;
    }
}

h2{
    font-family: $heading-lg;
    color: $black;
    //text-align: center;
    font-size: 2.8em;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 1em;
    &:hover{
        cursor: default;
    }
    @media screen and (max-width: 450px){
        font-size: 2em;
    }
    @media screen and (max-width: 350px){
        font-size: 1.85em;
    }
}

h3{
    color: $black;
    font-family: $heading-lg;
    font-size: 2em;
    letter-spacing: 1px;
    font-weight: 700;
    //text-transform: uppercase;
    
}




p{
    color: $black;
    font-family: $text;
    font-size: 1em;
    letter-spacing: 1px;
    //text-transform: uppercase;
    padding-top: 15px;
    line-height: 1.6em;
    &:hover{
        cursor: default;
    }
    @media screen and (max-width: 991px){
        font-size: .9em;
    }
    @media screen and (max-width: 450px){
        font-size: .8em;
    }
}
a{
    color: $primary-color;
    //text-decoration: underline $primary-color;
    &:hover{
        color: $primary-color;
        cursor: pointer;
        text-decoration: none;
    }
}

.button{
    font-size: .8em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: $text;
    font-weight: 700;
    border: 1.5px solid $primary-color;
    padding: 10px;
    color: $black;
    display: block;
    width: 200px;
    margin: 30px 30px 30px 0;
    text-align: center;
    &:hover{
        background-color: $primary-color;
        text-decoration: none;
        color: $white;
    }
}


.hero-banner{
    &__full{
        background-color: $white;
        padding-top: 40vh;
        padding-bottom: 40vh;
    }
}


.content-container{
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: $white;
    &--illustrations{
        margin-top: 15%;
        margin-bottom: 15%;
    }
    &--top-pg{
        margin-top: 12%;
        margin-bottom: 5%;
        @media screen and (max-width: 991px){
            margin-top: 20vh;
        }
        /* @media screen and (max-width: 767px){
            margin-top: 20%;
        }
        @media screen and (max-width: 576px){
            margin-top: 25%;
        } */
    }
    &--bottom-pg{
        margin-bottom: 500px;
        padding-bottom: 5%;
    }
}

.image{
    max-height: 60vh;
    filter: grayscale(1);
    &__container{
        position: relative;
    }
}