@import "fonts";
@import "colors";
@import "toggle-menu";
@import "footer";
@import "index";
@import "about";
@import "contact";
@import "effects";
@import "header";
@import "projects";
@import "hero-banner";

body{
    background-color: $white;
    font-family: $text;
    letter-spacing: 1px;
    line-height: 1.6em;
}

html{
    background-color: $white;
    }

h1{
    font-family: $heading-xl;
    color: $black;
    text-align: center;
    font-size: 7em;
    letter-spacing: 3px;
    &:hover{
        cursor: default;
    }
    @media screen and (max-width: 500px){
        font-size: 4em;
    }
    @media screen and (max-width: 400px){
        font-size: 3.5em;
    }
    @media screen and (max-width: 350px){
        font-size: 3em;
    }
}

h2{
    font-family: $heading-lg;
    color: $black;
    font-size: 2.5em;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
    &:hover{
        cursor: default;
    }
    @media screen and (max-width: 991px){
        font-size: 2.4em;
    }
    @media screen and (max-width: 450px){
        font-size: 2em;
    }
    @media screen and (max-width: 350px){
        font-size: 1.85em;
    }
    @media screen and (max-width: 820px) and (orientation: landscape){
        font-size: 2em;
    }
}

h3{
    color: $black;
    font-family: $text;
    //font-family: $heading-lg;
    font-size: 2em;
    letter-spacing: 1px;
    //font-weight: 700;
    font-weight: 300;
    @media screen and (max-width: 767px){
        font-size: 1.6em;
    }
    
}

h4{
    margin-top: 20px;
    margin-bottom: 0px;
    height: 70px;
    //text-decoration: underline $primary-color;
    font-weight: 700;
}



p{
    color: $black;
    font-family: $text;
    font-size: 1em;
    letter-spacing: 1px;
    padding-top: 15px;
    line-height: 1.6em;

    font-weight: 300;

    &:hover{
        cursor: default;
    }
    @media screen and (max-width: 991px){
        font-size: .9em;
    }
    @media screen and (max-width: 576px){
        font-size: .85em;
        font-weight: 300;
    }
}
a{
    color: $primary-color;
    &:hover{
        color: $primary-color;
        cursor: pointer;
        text-decoration: none;
    }
}

.button{
    font-size: .8em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: $text;
    font-weight: 700;
    border: 1.5px solid $primary-color;
    background-color: white;
    padding: 10px;
    color: $black;
    display: block;
    width: 200px;
    margin: 30px 30px 0px 0;
    text-align: center;
    &:hover{
        background-color: $primary-color;
        text-decoration: none;
        color: $white;
    }
    @media screen and (max-width: 576px){
        padding: 7px;
        width: 170px;
        font-size: .7em;
        margin-right: auto;
        margin-left: auto;
        //margin-bottom: 0;
    } 
    &--lg{
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    &--prosjekt{
        text-align: center;
    }
}



.content-container{
    padding-top: 15%;
    background-color: $white;
    @media screen and (max-width: 768px){
        padding-top: 10%;
        padding-bottom: 10%;
    }
    
    @media screen and (max-width: 576px){
        padding-top: 25%;
        padding-bottom: 0;
        text-align: center;
    }
    @media screen and (max-width: 768px) and (orientation: landscape){
        padding-top: 15%;
    }
    &--top-pg{
        padding-top: 6%;
        @media screen and (max-width: 991px){
            padding-top: 15%;
        }
        @media screen and (max-width: 767px){
            padding-top: 20%;
        }
        @media screen and (max-width: 576px){
            height: auto;
            margin-top: 0;
            padding-top: 20vh;
        }
        @media screen and (max-width: 350px){
            height: auto;
            margin-top: 0;
            padding-top: 20vh;
        }
    }
    &--bottom-pg{
        margin-bottom: 500px;
        padding-bottom: 15%;
        @media screen and (max-width: 768px){
            margin-bottom: 450px;
            padding-bottom: 25%;
        }
        @media screen and (max-width: 576px){
            padding-bottom: 30%;
            margin-bottom: 450px;
            text-align: center;
        }
        @media screen and (max-width: 820px) and (orientation: landscape){
            margin-bottom: 450px;
        }
        @media screen and (max-width: 768px) and (orientation: landscape){
            padding-bottom: 10%;
            margin-bottom: 350px;
        }
    }
}

.image{
    //max-height: 60vh;
    //filter: grayscale(1);
    &__container{
        position: relative;
    }
    &__illustration{
        max-height: 50vh;
        
        @media screen and (max-width: 576px){
            max-height: 350px;
        }
        @media screen and (max-width: 420px){
            max-height: 300px;
        }
        @media screen and (max-width: 350px){
            max-height: 250px;
        }
        @media screen and (max-width: 820px) and (orientation: landscape){
            max-height: 300px;
        }
        &--margin{
            padding: 0 20px;
        }
        &--high-image{
            @media screen and (max-width: 767px){
                max-height: 400px;
            }
            @media screen and (max-width: 576px){
                max-height: 300px;
            }
        }
    }
}

.page-container{
    padding: 0 10%;
    @media screen and (max-width: 576px){
        padding: 0;
    }
}

.last-project{
    &__title{
        margin-bottom: 5%;
        text-align: center;
        @media screen and (max-width: 576px){
            margin-bottom: 10%;
        }
    }
}