@import "fonts";
@import "colors";
@import "toggle-menu";
@import "footer";
@import "index";
@import "projects";
@import "about";
@import "contact";
@import "effects";
@import "header";

body{
    background-color: $white;
    font-family: $text;
    letter-spacing: 1px;
    line-height: 1.6em;
}

html{
    background-color: $white;
    }

h1{
    font-family: $heading-xl;
    color: $black;
    text-align: center;
    font-size: 7em;
    letter-spacing: 3px;
    &:hover{
        cursor: default;
    }
    @media screen and (max-width: 500px){
        font-size: 4em;
    }
    @media screen and (max-width: 400px){
        font-size: 3.5em;
    }
    @media screen and (max-width: 350px){
        font-size: 3em;
    }
}

h2{
    font-family: $heading-lg;
    color: $black;
    font-size: 2.8em;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
    &:hover{
        cursor: default;
    }
    @media screen and (max-width: 450px){
        font-size: 2em;
    }
    @media screen and (max-width: 350px){
        font-size: 1.85em;
    }
}

h3{
    color: $black;
    font-family: $heading-lg;
    font-size: 2em;
    letter-spacing: 1px;
    font-weight: 700;
    @media screen and (max-width: 767px){
        font-size: 1.6em;
    }
    
}

h4{
    margin-top: 20px;
    margin-bottom: 0px;
    text-decoration: underline $primary-color;
    font-weight: 700;
}



p{
    color: $black;
    font-family: $text;
    font-size: 1em;
    letter-spacing: 1px;
    padding-top: 15px;
    line-height: 1.6em;
    &:hover{
        cursor: default;
    }
    @media screen and (max-width: 991px){
        font-size: .9em;
    }
    @media screen and (max-width: 450px){
        font-size: .8em;
    }
}
a{
    color: $primary-color;
    &:hover{
        color: $primary-color;
        cursor: pointer;
        text-decoration: none;
    }
}

.button{
    font-size: .8em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: $text;
    font-weight: 700;
    border: 1.5px solid $primary-color;
    padding: 10px;
    color: $black;
    display: block;
    width: 200px;
    margin: 30px 30px 30px 0;
    text-align: center;
    &:hover{
        background-color: $primary-color;
        text-decoration: none;
        color: $white;
    }
    @media screen and (max-width: 576px){
        padding: 7px;
        width: 170px;
        font-size: .7em;
        margin-right: auto;
        margin-left: auto;
    } 
    &--lg{
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
}


.hero-banner{
    &__full{
        background-color: $white;
        height: 100vh;
    }
    &__image{
        margin-top: 20vh;
        @media screen and (max-width: 576px){
            max-width: 80%;
        } 
    }
}


.content-container{
    padding-top: 7%;
    background-color: $white;
    @media screen and (max-width: 576px){
        padding-top: 20%;
        margin-bottom: 20%;
        text-align: center;
    }
    &--top-pg{
        padding-top: 12%;
        //margin-bottom: 5%;
        @media screen and (max-width: 991px){
            padding-top: 15%;
        }
        @media screen and (max-width: 767px){
            padding-top: 20%;
        }
        @media screen and (max-width: 576px){
            height: auto;
            margin-top: 0;
            padding-top: 20vh;
        }
        @media screen and (max-width: 350px){
            height: auto;
            margin-top: 0;
            padding-top: 20vh;
        }
    }
    &--bottom-pg{
        margin-bottom: 500px;
        padding-bottom: 10%;
        @media screen and (max-width: 576px){
            margin-top: 20%;
            padding-bottom: 20%;
            margin-bottom: 450px;
            text-align: center;
        }
    }
}

.image{
    max-height: 60vh;
    filter: grayscale(1);
    &__container{
        position: relative;
    }
    &__illustration{
        max-height: 60vh;
        @media screen and (max-width: 576px){
            max-height: 350px;
        }
        @media screen and (max-width: 420px){
            max-height: 300px;
        }
        @media screen and (max-width: 350px){
            max-height: 250px;
        }
        &--margin{
            padding: 0 20px;
        }
    }
}
