@import url("https://use.typekit.net/jny8epr.css");
/* 
rgb(152,205,196);

#05AFF2; 
#00C3FF;
#27B9F2; //favoritt
#00ACFF;


rgb(163,191,118);

#99E8A1;
#52E889;
#56BF7B;
#5CBF9E; 

#F28749;
#F27405;
#F27141;
#FF4D00;
#FF5200;

#FF553B;
rgb(255, 71, 71);
*/
@media screen and (max-width: 991px) {
  .navigation {
    /* position: absolute;
    top: 0; */
  }
}
@media screen and (min-width: 992px) {
  .navigation {
    background-image: linear-gradient(#fffaf5, rgba(255, 250, 245, 0.7), rgba(255, 250, 245, 0));
  }
}
@media screen and (max-width: 991px) {
  .navigation__collapse {
    background-color: #ffff;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    border: 1.5px solid #ff4747;
    z-index: 10;
  }
}
.navigation__toggler {
  position: absolute;
  top: 35px;
  left: 30px;
  z-index: 11;
}
.navigation__toggler:focus {
  outline: 0;
}
@media screen and (max-width: 991px) {
  .navigation__toggler {
    background-color: white;
    border-radius: 100px;
    height: 50px;
    width: 50px;
  }
}
@media screen and (max-width: 450px) {
  .navigation__toggler {
    top: 22px;
    left: 15px;
  }
}
@media screen and (max-width: 350px) {
  .navigation__toggler {
    top: 20px;
    left: 10px;
  }
}
.navigation__link-container {
  margin-left: 20px;
  margin-top: 3px;
}
@media screen and (max-width: 991px) {
  .navigation__link-container {
    height: 100vh;
    text-align: center;
    margin-top: 30vh;
  }
}
.navigation__link {
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 20px;
  font-size: 0.9em;
}
@media screen and (max-width: 991px) {
  .navigation__link {
    font-family: skolar-sans-latin, sans-serif;
    color: #1D1915;
    font-size: 44.8px;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 1em;
    text-transform: none;
  }
  .navigation__link:hover {
    color: #1D1915;
    text-decoration: underline #A69E97;
  }
}
@media screen and (max-width: 450px) {
  .navigation__link {
    font-size: 29.6px;
  }
}
.navigation__logo {
  position: fixed;
  left: 50%;
  top: 20px;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: nazare, sans-serif;
  text-transform: lowercase;
  font-size: 2.5em;
  color: #1D1915;
  width: 200px;
}
@media screen and (max-width: 767px) {
  .navigation__logo {
    position: absolute;
  }
}
@media screen and (max-width: 450px) {
  .navigation__logo {
    width: 160px;
    top: 20px;
  }
}
@media screen and (max-width: 350px) {
  .navigation__logo {
    width: 140px;
    top: 20px;
  }
}
.navigation__up {
  position: fixed;
  left: 50%;
  top: 20px;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
  margin-left: -2px;
  transition: opacity 0.3;
  width: 200px;
  z-index: 9;
}
@media screen and (max-width: 767px) {
  .navigation__up {
    position: absolute;
  }
}
@media screen and (max-width: 450px) {
  .navigation__up {
    width: 160px;
    top: 20px;
  }
}
@media screen and (max-width: 350px) {
  .navigation__up {
    width: 140px;
    top: 20px;
  }
}
.navigation__down {
  position: fixed;
  left: 50%;
  top: 20px;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
  margin-left: -2px;
  transition: opacity 0.3;
  width: 200px;
  z-index: 9;
}
@media screen and (max-width: 767px) {
  .navigation__down {
    position: absolute;
  }
}
@media screen and (max-width: 450px) {
  .navigation__down {
    width: 160px;
    top: 20px;
  }
}
@media screen and (max-width: 350px) {
  .navigation__down {
    width: 140px;
    top: 20px;
  }
}

.change-language__container {
  position: fixed;
  top: 20px;
  right: 40px;
}
@media screen and (max-width: 991px) {
  .change-language__container {
    position: absolute;
    top: 20px;
    right: 35px;
  }
}
@media screen and (max-width: 450px) {
  .change-language__container {
    top: 15px;
    right: 25px;
  }
}
@media screen and (max-width: 350px) {
  .change-language__container {
    top: 13px;
    right: 20px;
  }
}

.active {
  border-bottom: 1.5px solid #ff4747;
}
@media screen and (min-width: 992px) {
  .active {
    padding: 0;
  }
}
@media screen and (max-width: 991px) {
  .active {
    border-bottom: none;
    text-decoration: underline #ff4747;
  }
}

.hamburger {
  position: relative;
  cursor: pointer;
  height: 1.25rem;
  width: 1.5rem;
  z-index: 10;
}
.hamburger__bar {
  position: relative;
  transform: translateY(0.5rem);
}
.hamburger__bar, .hamburger__bar:before, .hamburger__bar:after {
  height: 0.25rem;
  width: 1.5rem;
  background-color: #1D1915;
}
.hamburger__bar:before, .hamburger__bar:after {
  content: "";
  left: 0;
  position: absolute;
}
.hamburger--v2 .hamburger__bar:before {
  bottom: 0.5rem;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger--v2 .hamburger__bar:after {
  top: 0.5rem;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger--v2.is-active .hamburger__bar {
  background-color: transparent;
}
.hamburger--v2.is-active .hamburger__bar:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger--v2.is-active .hamburger__bar:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.page-footer {
  width: 100%;
  height: 500px;
  background-color: #1D1915;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.page-footer__container {
  margin-top: 7%;
}
@media screen and (max-width: 450px) {
  .page-footer__container {
    margin-top: 25%;
  }
}
.page-footer__author {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.page-footer__author--text {
  font-size: 0.8em;
}
.page-footer__icon {
  display: block;
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  #last-on-small {
    order: 2;
  }
}

.kjem-snart {
  height: 100vh;
  padding-top: 20%;
}

.team-member__image {
  border-radius: 1px;
}
.team-member__content-container {
  background-color: #1D1915;
  margin-left: 40%;
  margin-top: -15%;
  padding: 40px 40px 50px 40px;
  border-radius: 1px;
}
@media screen and (max-width: 991px) {
  .team-member__content-container {
    margin-left: 30%;
    padding: 30px 30px 40px 30px;
  }
}
@media screen and (max-width: 767px) {
  .team-member__content-container {
    margin: 0 15px 15px;
  }
}
.team-member__title {
  font-style: italic;
  font-weight: 400;
  padding-top: 0px;
}

.work-process {
  padding: 40px;
}
.work-process__image-container {
  height: 250px;
}
.work-process__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 30px 30px 0 30px;
}
.work-process__image1 {
  height: 170px;
}

/* .contact{
    &__map-container{
        margin-left: 20%;
        margin-top: -20%;

    }
} */
::selection {
  background: #ff4747;
}

.text--image {
  font-size: 9em;
  color: #1D1915;
}
.text--white {
  color: #fffaf5;
}
.text--underline {
  text-decoration: underline rgba(255, 250, 245, 0.4);
}
.text--border-red {
  text-decoration: underline #ff4747;
}
.text--center {
  text-align: center;
}
.text--medium {
  font-size: 2em;
}
.text--large {
  font-size: 3em;
}
.text--transparent-black {
  color: rgba(194, 241, 169, 0.3);
}
.text--transparent-white {
  color: rgba(255, 250, 245, 0.4);
}
.text--icon {
  font-size: 2em;
  padding-right: 10px;
  color: #fffaf5;
}

.remove-margin-padding {
  margin: 0;
  padding: 0;
}

/* span{
    box-shadow: inset 0 -3px 0px $white, inset 0 -9px 0 $primary-color;
} */
/* 
//SLIDE IN EFFECT ON CONTENT WHEN SCROLLED
.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered 
}

@keyframes come-in {
  to { transform: translateY(0); }
} */
@media screen and (max-width: 767px) {
  .hide--md {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .hide--lg {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .show--md {
    display: block;
  }
}
@media screen and (max-width: 991px) {
  .show--lg {
    display: block;
  }
}

body {
  background-color: #fffaf5;
  font-family: interstate, sans-serif;
  letter-spacing: 1px;
  line-height: 1.6em;
}

html {
  background-color: #fffaf5;
}

h1 {
  font-family: nazare, sans-serif;
  color: #1D1915;
  text-align: center;
  font-size: 7em;
  letter-spacing: 3px;
}
h1:hover {
  cursor: default;
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 4em;
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 3.5em;
  }
}
@media screen and (max-width: 350px) {
  h1 {
    font-size: 3em;
  }
}

h2 {
  font-family: skolar-sans-latin, sans-serif;
  color: #1D1915;
  font-size: 2.8em;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1em;
}
h2:hover {
  cursor: default;
}
@media screen and (max-width: 450px) {
  h2 {
    font-size: 2em;
  }
}
@media screen and (max-width: 350px) {
  h2 {
    font-size: 1.85em;
  }
}

h3 {
  color: #1D1915;
  font-family: skolar-sans-latin, sans-serif;
  font-size: 2em;
  letter-spacing: 1px;
  font-weight: 700;
}

p {
  color: #1D1915;
  font-family: interstate, sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  padding-top: 15px;
  line-height: 1.6em;
}
p:hover {
  cursor: default;
}
@media screen and (max-width: 991px) {
  p {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 450px) {
  p {
    font-size: 0.8em;
  }
}

a {
  color: #ff4747;
}
a:hover {
  color: #ff4747;
  cursor: pointer;
  text-decoration: none;
}

.button {
  font-size: 0.8em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: interstate, sans-serif;
  font-weight: 700;
  border: 1.5px solid #ff4747;
  padding: 10px;
  color: #1D1915;
  display: block;
  width: 200px;
  margin: 30px 30px 30px 0;
  text-align: center;
}
.button:hover {
  background-color: #ff4747;
  text-decoration: none;
  color: #fffaf5;
}
@media screen and (max-width: 576px) {
  .button {
    padding: 7px;
    width: 170px;
    font-size: 0.7em;
  }
}

.hero-banner__full {
  background-color: #fffaf5;
  height: 100vh;
}
.hero-banner__image {
  margin-top: 20vh;
}

.content-container {
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: #fffaf5;
}
.content-container--illustrations {
  margin-top: 15%;
  margin-bottom: 15%;
}
.content-container--top-pg {
  margin-top: 12%;
  margin-bottom: 5%;
}
@media screen and (max-width: 991px) {
  .content-container--top-pg {
    margin-top: 15%;
  }
}
@media screen and (max-width: 767px) {
  .content-container--top-pg {
    margin-top: 20%;
  }
}
@media screen and (max-width: 576px) {
  .content-container--top-pg {
    margin-top: 30%;
  }
}
.content-container--bottom-pg {
  margin-bottom: 500px;
  padding-bottom: 5%;
}

.image {
  max-height: 60vh;
  filter: grayscale(1);
}
.image__container {
  position: relative;
}
.image__illustration {
  max-height: 60vh;
}
.image__illustration--margin {
  padding: 0 20px;
}

/*# sourceMappingURL=styles.css.map */
